*{
	margin:0;
	padding: 0;
	border: none;
	box-sizing: border-box;
    outline: none;
}
input,a:active,a:focus {outline:none;}
a,a:hover{
	color: #fff;
	display: block;
	    font-size: 13px;
}
body {
    font-family: 'Roboto',Arial, sans-serif;
    color: black;
    font-weight: 300;
    background-color: #fff;
    line-height: 1.4;
    color: #333;
    font-size: 18px;
    font-weight: 400;
}
}
header{
	background: url(main-bg.jpg) no-repeat center top;

}
h1 {
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 900;
        text-align: center;
}
h2,h3{
	 font-size: 33px;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 38px;
    margin-top: 40px;
    margin-bottom: 10px;
}
h3{font-size: 28px;}
h4{
	font-size: 18px;
    font-weight: 900;
    line-height: 1.4;

    color: #333;
    margin-bottom: 0;
}
.d-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.first{
	background:#FFEFE7 url('../img/main-bg.jpg') center top no-repeat;
    min-height: 1510px;
}
header p,footer p{
	 font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
}
.header__gmo{
	margin-top: 5px;
	margin-left: -13px;
}
.header__delivery{
	padding-left: 38px;
	background:  url('../img/delivery-icon.png') 0 7px no-repeat;
}
.header__payment{
	padding-left: 73px;
	background:  url('../img/payment-icon.png') 35px 7px no-repeat;
}
.header__delivery,.header__payment
{ 
margin-top: 15px; 
}
.title{
	margin-top: 2.7rem;
	margin-left: 14.5rem;
	width: 54%;
}
.right_info{
	margin-top: 3.7rem;
}
.fresh,.time{
	border-radius: 30px;
	width: 12rem;
	height: 3rem;
	background-color: #ffe6c6;
	position: relative;
	padding-left: 3rem;
	padding-top: 10px;
	text-transform: uppercase;
	line-height: 1;
	    font-weight: 900;
    font-size: 14px;
    margin-bottom: 1rem;
}
.fresh:after,.time:after{
     content:'';
     position: absolute;
     top: 20px;
     left: 30px;
	border-radius: 50%;
	background-color:#fff;
	width: 10px;
	height: 10px;
}
.subtitle{
	margin-left: 20rem;
	margin-top: 2rem;
}
.subtitle__list{
	justify-content: center;
}
.subtitle li{
	color: #333;
	text-transform: uppercase;
	padding: 5px 0;
    padding-left: 31px;
    margin-right: 18px;
	font-size: 24px;
    font-weight: 900;
    list-style: none;
	background: url('../img/red-tick.png') no-repeat left center;
}
.sale{
	margin-top: 4rem;
	position:relative;
	color: #333;
}

.sale__arrow{
	position: absolute;
	top: 3.4rem;
	right: -2px;
}
.sale p{
	font-weight: 900;
    font-size: 29px;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 0;
}
.price_previous{
	margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
margin-left: 5.5rem;}
 .price_previous__number{
 	text-decoration: line-through;
 }
 .price_current{
 	color: #bf2f2b;
 	    font-weight: 900;
font-size: 60px;
margin-left: 4rem;
 }

 .form_title{
 	font-size: 44px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin-left: -20px;
 }
 .form_subtitle{
 	    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 25px;
 }
 form{
 	margin-top: 20px;
 	color: #333;
 	margin-top: 25px;
 	font-weight: normal;
    display: block;
    font-size: 16px;
 }


 select ,input{
 	text-align: left;
 	padding-left: 45px;
 	margin-bottom: 25px;
 	display: block;
 	margin-left: 5px;
 }
 .form_square{
 	border: 1px solid #b9352f;
 	width: 90%;
 	height: 3.8rem;
 	border-radius: 5px;
 }
  
 .phone_icon{
 	display: block;
 	position: absolute;
 	bottom: 40%;
 	left: 5rem;
 	
 }
 .button{
 	background-color: #bf2f2b;
  	border: none;
 	border-bottom: 5px solid #a81b17;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    width: 90%;
    text-align: center;
    height: 60px;
    margin-top: 16px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition:all 0.5s ease;
    margin-left: 5px;
 }
 .button:hover{
background-color: #9d2522;
 }
 .form_info{
 	font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    margin-left: -20px;
 }
 .form_info__number{
 	display: inline-block;
 	background-color: #fff;
 	width: 40px;
 	height: 40px;
 	border-radius: 50%;
 	    font-size: 18px;
    color: #0b8228;
    line-height: 40px;

 }
 .storeroom_nature_info{
 	margin-top: 30px;
 }
 .storeroom_nature__title{
 	margin-left: 59px;
 	margin-top: 30px;

 	padding-left: 0;
 	background:  url('../img/title-uzor1.png') 25px 40px no-repeat;
 }
 .storeroom_nature_info__left {
 	font-size: 18px;
    font-weight: 700;

 }
.storeroom_nature__info__right
{
	font-size: 16px;
    font-weight: 700;
	padding-left: 40px;
	padding-right: 0;
} 
.storeroom_nature_info__right__item{
	-ms-align-items: center;
	align-items: center;
	background-color: #FFF;
    border-radius: 5px;
        align-items: center;
    height: 75px;
    margin-bottom: 13px;
    padding: 9px 15px;
}
 .nature__item__text{
-ms-align-items: center;
 align-items: center; 
     padding-left: 0;
    padding-right: 0;}
    
.nature__item__right__text{
	padding-left: 20px;
	line-height: 1.4;
	-ms-align-items: center;
	align-items: center;
}
.nature__item__icon{
padding-top: 5px;}
footer{
	background: #5c4d46 url('../img/footer-bg.jpg') no-repeat center top;
    padding: 30px 0;
    color: #fff;
}
.footer__delivery{
	padding-right: 0;
	padding-left:65px;
	width: 100%;
	background:  url('../img/delivery-icon2.png') 30px 7px no-repeat;
}
.footer__payment{
	background:  url('../img/payment-icon2.png') 0 7px no-repeat;
margin-left: 10rem;
padding-left: 2.3rem;
padding-right: 20px;
}
footer p{
	text-transform: none;
}
.footer_text{font-size: 13px;}
.footer_text{
	text-align: center;
	width: 100%;
	font-weight: 400;
}
.footer_text__adress{
	display: block;
	text-transform: uppercase;
	max-width: 44%;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
}
.posibilities{
	padding-bottom: 30px;
}
.posibilities__title{
margin-left: auto;
margin-right: auto;

background-position:  27px 40px }
.posibilities__title__text{
	max-width: 72%;
	margin-right: auto;
	margin-left: auto;
	
}
.posibilities__subtitle{
	padding-left: 3rem;
	margin-top: 2rem;
	font-size: 18px;
    font-weight: 900;
    color: #333;
    text-align: center;}

 .cards_block__title{
    text-align: center;
    background: #51bf65;
    font-size: 24px;
    font-weight: 900;
    padding: 14px 27px;
    text-transform: uppercase;
    color: #fff;
    margin: 38px auto 20px;
    border-radius: 8px;
    }
  .card{
  	border: none;
  	font-size: 18px;
    font-weight: 400;
	text-align: center;
 }
 .card p{
 	padding: 8px;
 }
 .strawberry{
 	position: relative;
 	background: url('../img/strawberry-bg.jpg') top center no-repeat;
 	padding-top: 30px;
 }
 .strawberry__title h2{font-size: 28px;
     max-width: 57%;}
 .strawberry__title{
 	margin-left: 0;
background: url('../img/title-uzor3.png') 90px 50px no-repeat;
 }
 .strawberry-subtitle{
	margin:30px auto 20px;
 	text-align: center;
 	padding: 0 11rem;
 	} 
  .strawberry-subtitle h4{
  	font-size: 24px;
  	margin-bottom: 8px;
  }	
.strawberry_box{
	justify-content:space-between;
}
.strawberry_box__column__item{
margin-bottom: 5rem;
}

.left,.right{
	max-width: 100%;

}
.left{
padding-right: 2rem;
	text-align: right;
	background:  url('../img/left-small-bracket.png') right 5px no-repeat;
}
.right{
	text-align: left;
	background:  url('../img/right-small-bracket.png') 0 5px no-repeat;
	padding-left: 2rem;
	}

.strawberry_box__column__left {
	padding-right: 4rem;
}
.strawberry_box__column__right{
	padding-left: 4rem;
}
.strawberry__button{
	margin: 0 auto ;
	position: absolute;
	bottom: -50px;
	left: 0;
	right: 0;
	width: 20%;

}
 .strawberry p{
 	margin: 0 auto 2rem;
 	text-align: center;
 	text-transform: none;
 }
.comments{
	background: #fbeadc;
	padding-bottom: 7rem;
}


 .comments__title{
margin:4rem auto;

 	background:  url('../img/title-uzor4.png') 10px 41px no-repeat;
 }
 .comments__card__img{
 	position: absolute;
    width: 165px;
    height: 170px;
    left: 50%;
    margin-left: -84px;
    top: -22px;
 }
 .comments__card{
 	position: relative;
    background: #fff;
    text-align: center;
    padding: 170px 25px 40px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    padding-left: 0 10px;
 }
 .comments__card:not(:last-child){
 	margin-right: 25px;
 }
 .order{
 	position: relative;
 	background:  url('../img/last-bg.jpg') center center/cover no-repeat;
 }

.order__title {
	display: inline-block;
	background: #0b8228;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
    padding: 0 8px;
    color: #fff;
margin: 20px 0;
}
.order__form__title{
	color: #51bf65;
}
.order__form{
	text-align: center;
	background-color: #fff;
	    border-radius: 20px;
	    margin-top: 20px;
	    width: 96%;
	    padding-bottom: 40px;
}
.form__subtitle {
	line-height: 1;
    font-weight: 900;
    font-size: 36px;
    margin-top: 26px;
}
.order .price_current{
	margin-bottom: 1.5rem;
}
.form_square{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.order .phone_icon {
    bottom: 31%;
    left: 5.3rem;
}
.order__fresh,.order__time{
	position:absolute;
	border-radius: 30px;
    width: 15rem;
    height: 4rem;
    padding-left: 3rem;
    padding-top: 17px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 1rem;
	background:  url('../img/table-icon.png') center center no-repeat;
}
.order__fresh{
	right:40%;
	top: 25%;
}
.order__time{
	right: 40%;
	top: 31.5%;
}
.order__subtitle{
	margin-left: auto;
	margin-right: 2rem;
	margin-top: 1.5rem;
}
.order li{
	font-size: 20px;
	    margin-right: 10px;
	color: #fff;
	background: url(../img/white-tick.png)  5px
	 center no-repeat;
}
.sertification{
font-weight: 400;
    font-size: 14px;
    padding: 10px 40px 10px 80px;
    
    text-align: left;
    color: #fff;
    margin: 35px auto 40px;
	background:  url('../img/prize-icon.png') 20px center no-repeat;
}
.modal-body{
justify-content:flex-end;
padding:0 0 3rem;
}
.modal-content{

    width: 770px;
    position: relative;
    margin: 0 auto;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 0 ;
    top: 30px;
    border-radius: 8px;
}
.popup_img{
   border-radius: 8px;
	position: absolute;
	top: 0;
	left: 0;
	width: 35%;
}
.modal_form_title{
font-size: 22px;
    text-align: center;
}
.modal_form_subtitle{
font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    padding: 0 30px ;
    text-align: center;
}
.popup-form{
	margin-top: 0;
	padding-left: 0 20px;
}
.popup__form_square{
	width: 67%;
}
.popup__phone_icon {
    bottom: 32%;
    left: 7.3rem;
}
.popup-button{
	margin-left: 5rem;
	margin-top: 0;
	
}
.modal-dialog{
	max-width: 769px;
}



/*------------------MEDIA--------------------------*/

@media screen and (max-width:1201px){
.order__fresh,.order__time {
    right: 36%;
}
 .strawberry_box__column__item {
    margin-bottom: 0;
}
.strawberry__title {
    background-position: 0 50px;
}
.posibilities__title {
    background-position: -46px 40px;
}
.storeroom_nature__title {
    background-position:  -55px 40px;
}
.form_subtitle,.form_title {
    text-align: center;
    padding-left: 1rem;
}

}
@media screen and (max-width:1124px) {
.header__payment{
	margin-left: 0;
}	
.title {
    margin-left: 10.5rem;
 }
.subtitle {
    margin-left: 16rem;
}
.phone_icon {
    bottom: 13.7rem;
}
.order__title{
	    font-size: 36px;
	    margin: 4px 0;
}
.form__subtitle {
    font-size: 28px;
}
.popup__phone_icon{
	 bottom: 10.5rem;
}
.form_square {
    width: 87%;
}
    
.popup__form_square{
	width: 68%;
}

}
@media screen and (max-width:990px){
header p, footer p {
    font-size: 11px;
}
.header__payment {
    margin-left: 68px;
}
h1 {
    font-size: 39px;
    line-height: 43px;
    }
.subtitle li{
    font-size: 19px;
  }
.sale p{
   font-size: 23px;
}
.form_title {
    font-size: 35px;
}
.form_subtitle {
    font-size: 21px;}
 .phone_icon {
 	left: 3rem;
    bottom: 14.7rem;
}   
.price_previous,.price_current{
	margin-left: 0;
}
.price_current{
	    font-size: 53px;

}
.storeroom_nature__title,.strawberry,.strawberry__title{
    -webkit-background-size: contain;
    background-size: contain;}
.storeroom_nature__title {
    background-position: -5px 40px;
}
.nature__item__icon img{
	width: 120%;
}
.storeroom_nature_info__left,.nature__item__right__text {
    font-size: 15px; 
   
}
.storeroom_nature_info__left__item{
 margin-bottom: 2rem;
}
.modal-content {
    width: 641px;}
    .form_title {
    font-size: 18px;
}
.form_subtitle {
    font-size: 15px;
}
.storeroom_nature_info__right__item{
	padding-right: 0;
	}
.nature__item__right__text {
    padding-left: 7px;
    line-height: 1;
    padding-left: 20px;
    padding-right: 0;
margin-top: -0;}

.strawberry_icon{
	width: 150%;
}
.nature__item__icon {
	padding: 0;
	padding-left: 10px;
}
.nature__item__text{
	padding-left: 30px;
}
h2{
    font-size: 25px;
}
.card img{
	width: 100%;
}
body{
	font-size: 14px;
}
.strawberry{
 	background: url('../img/strawberry-bg.jpg') center center/cover no-repeat;
}
.strawberry__title h2{
	max-width: 90%;
	margin-top: 0;
	font-size: 25px
}
.strawberry-subtitle{
	margin-top: 0;
}
.strawberry-subtitle {
    margin: 30px 20px;
    padding: 0 3rem;
}
.comments__card {
    padding: 158px 10px 21px
}
.comments {
    padding-bottom: 3rem;
}
.order__title {
    font-size: 29px;}
.order__title:first-child{
margin-top: 15px;
}
.order__fresh, .order__time {
    left: 20px;
}
.order__fresh{top:16%;}
.order__time{top: 22%;}

.form_info{margin-left: 0;
	padding: 0 10px;}
.footer_text__adress {
    max-width: 100%;
}
footer .header__payment {
    margin-left: 0;
}
}
@media screen and (max-width:770px){
.header__gmo img{
	width: 35%;
}
.header__payment,.header__delivery  {
	margin-left: auto;
	width: 30%;
	margin-right: 0px;
	margin-top: 0;
	}
.header__delivery {
	width: 100%;
	text-align: right;
	    background: url(../img/delivery-icon.png) 80% 7px no-repeat;	    
}
.modal-content {
    width: 71%;
}
.popup-form {
    margin-top: 8rem;}
.popup__phone_icon{
	display: none;
	}
.title,.subtitle,.sale {
    margin-left: 0;
}
.right_info,.sale {
    margin-top: 0;
}
.price_previous, .price_current{
	display: inline-block;
}

.phone_icon {
   display: none;
   
}
.button{
	display: block;
	margin-left: 30px;
 height: 50px;
margin-left: auto;
margin-right: auto;
width: 52%;
}
h1 {
    font-size: 22px;
    line-height: 31px;
}
.subtitle li {
    font-size: 15px;
}
.form_square {
    width: 54%;
    height: 2.8rem;
}

h3 {
    font-size: 20px;
    line-height: 33px;
    margin-top: 0px;
}   
.nature__item__icon img {
    width: 100%;
}
.bracket_strawberry{
	display: none;
	
}
.nature__item__icon .strawberry_icon{
width: 50%;	}
.storeroom_nature_info__right__item {
    width: 90%;	
    height: 60px;}
.posibilities__subtitle{
	margin-top: 0;	
}
.cards_block__title {
    font-size: 20px;
    margin: 0 auto 10px;
}
.cards{
	padding: 0 10px;}


 .strawberry{
	background:#FFF3EB url('../img/prod2_mob.png') no-repeat center 34%;
} 
.left,.right{
	background: none;
}
.strawberry_box {
	margin-top: 50%;	
}
.left,.right {
	text-align: center;
	padding:0;
}
.strawberry_box__column__right,.strawberry_box__column__left{
	padding: 0 20px;	
}
.order__fresh,.order__time{
	display: none;
	
}
.footer__delivery,.footer__payment    {
	display: none;
	
}
.header__gmo img {
    width: 27%;
}
.order__form {
 margin-left: auto;
 margin-right: auto;
  width: 74%;
}
@media screen and (max-width:550px){
	.strawberry__button {
    bottom: -32px;
}
p{margin-bottom: 5px;
font-size: 14px}
	.header__payment, .header__delivery {
    margin-top: 18%;
}
	.header__delivery{
		background-position: 43% 7px;
	}
	.popup-form {
    margin-top: 5rem;
}

.form_title,.title h1 {
    font-size: 16px;
    line-height: 1.2;
}
.form_square {
    width: 54%;
    height: 1.8rem;
}
select, input{
	margin-bottom: 10px;
}
.button{font-size: 15px}
button, input,  select {
    font-family: inherit;
    font-size: 86%;
    padding-left: 10px;}
    .fresh, .time {
    border-radius: 30px;
    width: 10rem;
    height: 2rem;
    padding-left: 2rem;
    padding-top: 3px;
    
    font-size: 12px;
}
.fresh:after, .time:after {
    top: 12px;
    left: 15px
}
.subtitle {margin-top: 0;}
}
.subtitle li{
	    padding-left: 27px;
    margin-right: 6px;}

 .sale__arrow{
 	display: none;
 }
 .price_current {
    font-size: 35px;
}
.sale p{
	text-align: center;
}
.storeroom_nature__title{
	background: none;
	margin-top: 0;
	margin-left: 1rem;
}
.storeroom_nature_info{
	margin-top: 0;
}
.storeroom_nature_info__left__item,.strawberry p {
	margin-bottom: 1rem;
}
.storeroom_nature_info__right__item {
    width: 97%;}

}
.nature__item__right__text {
    padding-left: 10px;
}
.nature__item__right__text,.nature__item__text   {
    font-size: 13px;
    padding-left: 0;
}
.nature__item__text,.strawberry-subtitle {
	padding-left: 10px;
}
.storeroom_nature__info__right {
    padding-left: 16px;
}
.posibilities__title__text {
    max-width: 100%;}
    h2 {
    font-size: 18px;
    line-height: 1.4;
}
.posibilities__subtitle,.strawberry__title h2 {
	font-size:15px;
	line-height: 1;
	padding: 0 10px;
}
.cards_block__title {
    font-size: 14px;}
 .card {
    font-size: 13px;
    padding-right: 5px;
    padding-left: 10px;
}
.strawberry-subtitle{padding-right: 10px;}
.strawberry_box {
    margin-top: 59%;
}
.form__subtitle {
	margin-top: 0;
    font-size: 20px;
}
.form_subtitle{margin-bottom: 0px;}
.form_square {
    width: 78%;}
    .sertification {
    
    padding: 10px 5px 10px 75px;
    margin: -14px auto 21px;}

}

@media screen and (max-width:400px){
.modal-body,.posibilities{
	padding-bottom: 0px;
}
.popup-form {
    margin-top: 3rem;
    padding-bottom: 10px;
}
.header__payment, .header__delivery{
		margin-top: 25%;
	}
	.form_subtitle {
    font-size: 12px;
}
.title ,.strawberry-subtitle{
    margin-top: 0;
}
.strawberry-subtitle h4 {
    font-size: 15px;}
}
.button {
    height: 35px;
}
.strawberry__button{bottom: -21px;}
h3 {
    margin-top: 25px;
}
.comments__title {
    margin: 2rem auto;
}
.order__form {
    width: 92%;
}
.footer_text{margin-top: 2rem;}
}
.order__title {
    font-size: 27px;
}
}
@media screen and (max-width:320px){}
